nav#navigation.navigation
  ul.navigation__list.navigation__hidden#navigation__list
    li
      a(href='#')
        | Main page
    li.menu-item-type-custom
      a(href='#')
        | Biography
      ul
        li
          a(href='#')
            | Life in pictures
        li
          a(href='#')
            | Memories
        li
          a(href='#')
            | Film clips
    li
      a(href='#')
        | Legacy
      ul
        li
          a(href='#')
            | Life in pictures
        li
          a(href='#')
            | Memories
        li
          a(href='#')
            | Film clips
    li
      a(href='#')
        | Books
    li
      a(href='#')
        | About MASF
    li
      a(href='#')
        | Events
    li
      a(href='#')
        | Contacts