.photogallery__box
  padding 30px
  background pinkColor
  text-align center
  border-radius 5px
  color themeColor
  position relative
  max-height calc(100% - 40px)
  max-width calc(100% - 40px)
  display flex
  flex-direction column
  img
    max-height calc(100vh - 170px)
    max-width 100%
    height auto
    width auto
    object-fit contain
  h2
    font-size subtitleSize
    font-family titleFont
    line-height 1
    padding 0
  p
    font-family titleItalicFont
    line-height 1