.form__input
  width 250px
  margin-bottom 30px
  padding 10px 5px
  border 1px solid themeColor
  font-family baseFont
  font-size 16px
  @media only screen and (min-width: xs)
    width 300px
  @media only screen and (min-width: md)
    width 300px
  &:active
    border 1px solid themeColor
  &:focus
    border 1px solid themeColor
  &:hover
    border 1px solid themeColor