.books__one
  margin 20px
  color baseColor
  text-decoration none
  padding 20px
  border-radius 5px
  background lightGrayColor
  box-shadow 0 0 10px 1px baseOverlay
  width 350px
.books__one:hover
  color baseColor
  background pinkColor
  box-shadow 0 0 10px 1px headerOverlay
  