.memories__one
  margin-bottom 50px
  color baseColor
  text-decoration none
  padding 40px
  border-radius 5px
.memories__one:hover
  color baseColor
.memories__one:nth-child(odd)
  background lightGrayColor
  box-shadow 0 0 10px 1px baseOverlay
.memories__one:nth-child(even)
  background pinkColor
  box-shadow 0 0 10px 1px headerOverlay