head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge') 
  title Metropolitan Anthony of Sourozh Foundation
  link(rel='stylesheet', href='assets/css/common.min.css')