.current-menu-item
.current-category-ancestor
.current-post-ancestor
.current_page_item
.current-menu-ancestor
.current-menu-parent
  a
    text-decoration underline!important
  ul
    li
      a
        text-decoration none!important
ul
  li
    ul
      li.current_page_item
      li.current-menu-item
      li.current-post-ancestor
      li.current-category-ancestor
        a
          text-decoration underline!important