extends ../layouts/default.pug

block site__content
  section.section
    .section__title
      h1 Coming Closer to Christ
    .section__content.single
      img.single__img(src='assets/images/coming-closer-to-Christ.jpg')
      h2.single__title "Coming Closer to Christ"
        p.single__subtitle Metropolitan Anthony of Sourozh
      .single__basic – London.: «SPCK Publishing», 2009. – 152p. – ISBN 9780281062034
      .single__text
        p Best-selling spirituality author covers all aspects of confession and forgiveness. As a Russian Orthodox teacher he has a much warmer and more personal approach that that which we often see: to him the whole point is building a personal relationship with Christ.