extends ../layouts/default.pug

block site__content
  section.section
    .section__title
      h1 Memories
    .section__content_type_row.books
      a(href="№").books__one
        img.books__img(src='assets/images/coming-closer-to-Christ.jpg')
        h2.books__name Coming Closer to Christ
        h3.books__author Metropolitan Anthony of Sourozh
      a(href="№").books__one
        img.books__img(src='assets/images/creative-prayer.jpg')
        h2.books__name Coming Closer to Christ
        h3.books__author Metropolitan Anthony of Sourozh
      a(href="№").books__one
        img.books__img(src='assets/images/coming-closer-to-Christ.jpg')
        h2.books__name Coming Closer to Christ
        h3.books__author Metropolitan Anthony of Sourozh
      a(href="№").books__one
        img.books__img(src='assets/images/coming-closer-to-Christ.jpg')
        h2.books__name Coming Closer to Christ
        h3.books__author Metropolitan Anthony of Sourozh
      a(href="№").books__one
        img.books__img(src='assets/images/coming-closer-to-Christ.jpg')
        h2.books__name Coming Closer to Christ
        h3.books__author Metropolitan Anthony of Sourozh