extends ../layouts/default.pug

block site__content
  section.section
    .section__title
      h1 Where to buy
    .section__content_type_row.buy-books
      .section__half
        .buy-books__box
          ol.buy-books__ol
            li.buy-books__li
              h2.buy-books__subtitle . Hatchards
              .buy-books__contacts
                p 187 Piccadilly, St. James's, London W1J 9LE
                p +44 20 7439 9921
                p 
                  a(href="https://www.hatchards.co.uk/" target="_blank").buy-books__contacts www.hatchards.co.uk
            li.buy-books__li
              h2.buy-books__subtitle . Waterstones
              .buy-books__contacts
                p 203-206 Piccadilly, St. James's, London W1J 9HD
                p +44 20 7851 2400
                p 
                 a(href="https://www.waterstones.com/" target="_blank") www.waterstones.com
            li.buy-books__li
              h2.buy-books__subtitle . Daunt Books
              .buy-books__contacts
                p 84 Marylebone High St, Marylebone, London W1U 4QW
                p +44 20 7224 2295
                p 
                 a(href="https://www.dauntbooks.co.uk/" target="_blank") www.dauntbooks.co.uk
            li.buy-books__li
              h2.buy-books__subtitle . Store name No.3
              .buy-books__contacts Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store
            li.buy-books__li
              h2.buy-books__subtitle . Store name No.3
              .buy-books__contacts Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store
            li.buy-books__li
              h2.buy-books__subtitle . Store name No.3
              .buy-books__contacts Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store
            li.buy-books__li
              h2.buy-books__subtitle . Store name No.3
              .buy-books__contacts Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store
            li.buy-books__li
              h2.buy-books__subtitle . Store name No.3
              .buy-books__contacts Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store
            li.buy-books__li
              h2.buy-books__subtitle . Store name No.3
              .buy-books__contacts Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store
            li.buy-books__li
              h2.buy-books__subtitle . Store name No.3
              .buy-books__contacts Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store
            li.buy-books__li
              h2.buy-books__subtitle . Store name No.3
              .buy-books__contacts Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store
            li.buy-books__li
              h2.buy-books__subtitle . Store name No.3
              .buy-books__contacts Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store
            li.buy-books__li
              h2.buy-books__subtitle . Store name No.3
              .buy-books__contacts Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store. Cotnact store
      .section__half
        .buy-books__map
          iframe(src='https://www.google.com/maps/d/u/0/embed?mid=13kn-SliLnCiTlyuyUhu3lv6WUgp4BKxV')
          
          