extends ../layouts/default.pug

block site__content
  section.section
    .section__title
      h1 E-books
    .section__content_type_row.e-books
      .e-books__one
        .e-books__close &times;
        h2.e-books__name 1Coming Closer to Christ
        h3.e-books__author Metropolitan Anthony of Sourozh
        .e-books__preview 
          | Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          | Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          | Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          | Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          | Diana Winsor has been a journalist since the 1960s, writing for several newsapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          | Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          .e-books__shadow
        .e-books__detailed Detailed...
        a.e-books__link(href="№") Link
      .e-books__one
        .e-books__close &times;
        h2.e-books__name 2Coming Closer to Christ
        h3.e-books__author Metropolitan Anthony of Sourozh
        .e-books__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          .e-books__shadow
        .e-books__detailed Detailed...
        a.e-books__link(href="№") Link
      .e-books__one
        .e-books__close &times;
        h2.e-books__name 3Coming Closer to Christ
        h3.e-books__author Metropolitan Anthony of Sourozh
        .e-books__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          .e-books__shadow
        .e-books__detailed Detailed...
        a.e-books__link(href="№") Link
      .e-books__one
        .e-books__close &times;
        h2.e-books__name 4Coming Closer to Christ
        h3.e-books__author Metropolitan Anthony of Sourozh
        .e-books__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          .e-books__shadow
        .e-books__detailed Detailed...
        a.e-books__link(href="№") Link
      .e-books__one
        .e-books__close &times;
        h2.e-books__name 5Coming Closer to Christ
        h3.e-books__author Metropolitan Anthony of Sourozh
        .e-books__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          .e-books__shadow
        .e-books__detailed Detailed...
        a.e-books__link(href="№") Link
      .e-books__one
        .e-books__close &times;
        h2.e-books__name 6Coming Closer to Christ
        h3.e-books__author Metropolitan Anthony of Sourozh
        .e-books__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          .e-books__shadow
        .e-books__detailed Detailed...
        a.e-books__link(href="№") Link
      .e-books__one
        .e-books__close &times;
        h2.e-books__name 7Coming Closer to Christ
        h3.e-books__author Metropolitan Anthony of Sourozh
        .e-books__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          .e-books__shadow
        .e-books__detailed Detailed...
        a.e-books__link(href="№") Link
      .e-books__one
        .e-books__close &times;
        h2.e-books__name 8Coming Closer to Christ
        h3.e-books__author Metropolitan Anthony of Sourozh
        .e-books__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          .e-books__shadow
        .e-books__detailed Detailed...
        a.e-books__link(href="№") Link
      .e-books__one
        .e-books__close &times;
        h2.e-books__name 9Coming Closer to Christ
        h3.e-books__author Metropolitan Anthony of Sourozh
        .e-books__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          .e-books__shadow
        .e-books__detailed Detailed...
        a.e-books__link(href="№") Link
      .e-books__one
        .e-books__close &times;
        h2.e-books__name 10Coming Closer to Christ
        h3.e-books__author Metropolitan Anthony of Sourozh
        .e-books__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
          .e-books__shadow
        .e-books__detailed 11Detailed...
        a.e-books__link(href="№") Link
      