extends ../layouts/default.pug

block site__content
  section.section.event
    .section__title
      h1 ‘The Challenge of Love’
    .section__content.single
      h2.event__title Conference on the legacy of Metropolitan Anthony of Sourozh 
      p.event__subtitle 28/29 November 2020
      p.event__subtitle King’s College London
      .single__text 
        p The  ‘Metropolitan Anthony of Sourozh Foundation’ is happy to announce its ninth conference on the legacy of Metropolitan Anthony of Sourozh. Its theme, ‘The Challenge of Love’, will explore Metropolitan Anthony’s  understanding of the sacrificial nature of divine love, its challenge to us and what it asks of us in our encounter with others and with God.
        p  In his own words:
      .event__box
        img(src='assets/images/about.png')
        div
          p I think one could define love not as a sentiment or an emotion but say that love is the abundance of triumphant life, a life which is so intense, so fulfilled, so deep and absolute that it can pour itself out without thinking of the risk, of the danger or of the loss, the gift of self which is at the same time the triumph of life in oneself.
          p Metropolitan Anthony of Sourozh
      h2.event__title Speakers
      .event__speakers
        div
          p 
            b I. Dr Rowan Williams
            |  Magdalene College Cambridge
          br
          p 
            b II. Very Rev Dr John Behr
            |  University of Aberdeen
          br
          p 
            b III. Dr Mary Cunningham
            |  Oxford
          br
          p 
            b IV. Professor Paul Joyce
            |  King’s College London
          br
          p 
            b V. Professor Ben Quash
            | King’s College London
          br
          p 
            b And others to be confirmed
      h2.event__title Booking
      .single__text
        P 
          b Booking is essential.
          |  To reserve a place please 
          span.event__call register
          |  and we will send the Programme and Application form to you when they are finalized.
        p Or contact us on:
        p Email: masf.foundation@gmail.com
        p Tel:   07766 003878;   07952 811646 
        p With all good wishes,
        p The Organisers
        p 
          em Metropolitan Anthony of Sourozh Foundation
