extends ../layouts/default.pug

block site__content
  section.main#main
    .main__two
      hi.main__title
        | Metropolitan Anthony 
        br
        | of Sourozh Foundation
    .main__one
      .animation-box
        .animation-right
          img.main__img(src='assets/images/main-01.jpg')
          img.main__img(src='assets/images/main-02.jpg')
          img.main__img(src='assets/images/main-03.jpg')
          img.main__img(src='assets/images/main-04.jpg')
          img.main__img(src='assets/images/main-05.jpg')
          img.main__img(src='assets/images/main-06.jpg')
          img.main__img(src='assets/images/main-07.jpg')
          img.main__img(src='assets/images/main-08.jpg')
          img.main__img(src='assets/images/main-09.jpg')
          img.main__img(src='assets/images/main-10.jpg')