extends ../layouts/default.pug

block site__content
  section.section
    .section__title
      h1 Memories
    .section__content_type_row.memories
      a(href="№").memories__one
        img.memories__img(src='assets/images/main-10.jpg')
        h2.memories__author Diana Winsor
        h3.memories__name From Russia with love… 
        .memories__date April, 19. 1981
        .memories__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
      a(href="№").memories__one
        img.memories__img(src='assets/images/main-01.jpg')
        h2.memories__author Boris Khazanov
        h3.memories__name From Russia with love… 
        .memories__date April, 19. 1981
        .memories__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain. Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
      a(href="№").memories__one
        img.memories__img(src='assets/images/main-02.jpg')
        h2.memories__author Diana Winsor
        h3.memories__name From Russia with love… 
        .memories__date April, 19. 1981
        .memories__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
      a(href="№").memories__one
        img.memories__img(src='assets/images/main-03.jpg')
        h2.memories__author Boris Khazanov
        h3.memories__name From Russia with love… 
        .memories__date April, 19. 1981
        .memories__preview Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
      
      
    