extends ../layouts/default.pug

block site__content
  section.section
    .section__title
      h1 Diana Winsor
    .section__content.single
      img.single__img(src='assets/images/main-10.jpg')
      h2.single__title From Russia with love… 
        p.single__subtitle April, 19. 1981
      .single__basic Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
      .single__text
        p Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
        p Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
        p Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
        p Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
        p Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
        p Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
        p Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
        p Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.
        p Diana Winsor has been a journalist since the 1960s, writing for several newspapers and magazines, including the Sunday Times and the Daily Telegraph, both as a staff writer and a freelance. She is the author of several books. She has also written many short stories and contributed to several books on Britain.