extends ../layouts/default.pug

block site__content
  section.section
    .section__title
      h1 Trustees
    .section__content_type_row.trustees
      .trustees__one
        img.trustees__img(src='assets/images/trustee.jpg')
        h2.trustees__name Metropolitan Anthony of Sourozh
        .trustees__description Metropolitan Anthony of Sourozh Metropolitan Anthony of Sourozh Metropolitan Anthony of Sourozh Metropolitan Anthony of Sourozh
      .trustees__one
        img.trustees__img(src='assets/images/creative-prayer.jpg')
        h2.trustees__name Coming Closer to Christ
        .trustees__description Metropolitan Anthony of Sourozh
      .trustees__one
        img.trustees__img(src='assets/images/coming-closer-to-Christ.jpg')
        h2.trustees__name Coming Closer to Christ
        .trustees__description Metropolitan Anthony of Sourozh
      .trustees__one
        img.trustees__img(src='assets/images/creative-prayer.jpg')
        h2.trustees__name Coming Closer to Christ
        .trustees__description Metropolitan Anthony of Sourozh
      .trustees__one
        img.trustees__img(src='assets/images/coming-closer-to-Christ.jpg')
        h2.trustees__name Coming Closer to Christ
        .trustees__description Metropolitan Anthony of Sourozh
      .trustees__one
        img.trustees__img(src='assets/images/creative-prayer.jpg')
        h2.trustees__name Coming Closer to Christ
        .trustees__description Metropolitan Anthony of Sourozh