extends ../layouts/default.pug

block site__content
  section.section
    .section__title
      h1 Men and Women in the Church
    .section__content_type_row.single
      .single__box_width_half
        .single__video
          iframe(src='https://www.youtube.com/embed/y6uXtVbrvQY' width='560' height='315' frameborder='0' allowfullscreen='allowfullscreen')
      .single__box_width_half
        h2.single__title Metropolitan Antony of Sourozh 
          p.single__subtitle May 30, 2002.
        .single__basic
          p Talk at Diocesan Conference
        .single__text
          p Here you can place additional information