extends ../layouts/default.pug

block site__content
  section.section
    .section__title
      h1 Life in pictures
    .section__content_type_row.videos
      a(href="").videos__one
        .videos__play
        img.videos__img(src='assets/images/mqdefault.jpg')
        h2.videos__title Life in pictures Life in pictures
      a(href="").videos__one
        img.videos__img(src='assets/images/mqdefault.jpg')
        h2.videos__title Life in pictures
      a(href="").videos__one
        img.videos__img(src='assets/images/mqdefault.jpg')
      a(href="").videos__one
        img.videos__img(src='assets/images/mqdefault.jpg')
      a(href="").videos__one
        img.videos__img(src='assets/images/mqdefault.jpg')
      a(href="").videos__one
        img.videos__img(src='assets/images/mqdefault.jpg')
