.section__content
  width calc(100% - 30px)
  margin 0 15px
  @media only screen and (min-width: lg)
    width 1200px
    margin 0 auto
.section__content_type_column
  width calc(100% - 30px)
  display flex
  flex-wrap wrap
  flex-direction column
  margin 0 15px
  @media only screen and (min-width: lg)
    width 1200px
    margin 0 auto
.section__content_type_row
  width calc(100% - 30px)
  margin 0 15px
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  @media only screen and (min-width: lg)
    width 1200px
    margin 0 auto