// Fonts
baseFont = 'Loras', serif;
baseItalicFont = 'Loras Italic', serif;
//subtitleFont = 'Geometria Medium', sans-serif;
titleFont = 'Loras Bold', serif;
titleItalicFont = 'Loras Bold Italic', serif;
//addFont = 'Roboto Light', sans-serif;


//titleFont = 'Roboto Bold', sans-serif;


titleSize = 32px;
subtitleSize = 20px;
baseSize = 18px;

lineHeight = 1.5

// Colors
baseColor = #010000
lightColor = #fff
themeColor = #a74c00
grayColor = #6C6C6C
pinkColor = #efe5d4
lightGrayColor = #f1f2f1

//theme

changeColor = 20%


// Height & width
containerWidth = 1170px
headerTopHeight = 325px
siteMinWidth = 320px
siteMaxWidth = 1920px
headerHeight = 50px

// Breakpoints
xs = 481px
sm = 768px
md = 992px
lg = 1200px
navigationBreakPoint = sm

// Overlays
darkOverlay = rgba(0, 0, 0, 0.3)
photogalleryOverlay = rgba(0, 0, 0, 0.8)
lightOverlay = rgba(255, 255, 255, 0.8)
headerOverlay = rgba(167, 76, 0, 0.8)
baseOverlay = rgba(0, 0, 0, 0.7)