.contacts__box
  margin-bottom 30px
  max-width 100%
  text-align center
  @media only screen and (min-width: sm)
    text-align left
    background pinkColor
    border-radius 5px
    box-shadow 0 0 10px 1px headerOverlay
    padding 40px 15px
    display flex
    flex-direction column
    height 100%
    margin-bottom 0
  @media only screen and (min-width: md)
    padding 40px