.main__two
  background pinkColor
  color themeColor
  padding 30px
  text-align center
  display flex
  flex-direction column
  align-items center
  justify-content center
  z-index 1
  @media only screen and (min-width: sm)
    position absolute
    top 0
    bottom 0
    right 25%
    left 25%
  @media only screen and (min-width: lg)
    right 30%
    left 30%