.trustees__img
  height auto
  width 300px
  margin 0 auto
  display block
  margin-bottom 30px
  height 300px
  border-radius 50%
  filter: grayscale(100%)
.trustees__one:hover
  .trustees__img
    filter none
    