.single__img
  max-width 280px
  height auto
  width auto
  margin 0 auto
  display: block;
  margin-bottom 30px
  box-shadow 0 0 5px grayColor
  @media only screen and (min-width: sm)
    margin-bottom 15px
    margin-right 60px
    float left  
  @media only screen and (min-width: md)
    max-width 400px