.buy-books__map
  box-shadow 0 0 10px grayColor
  overflow hidden
  width 100%
  min-height 300px
  @media only screen and (min-width: sm)
    width calc(50% - 20px)
    position fixed
    top 200px
    bottom 120px
    min-height auto
  @media only screen and (min-width: md)
    bottom 100px
  @media only screen and (min-width: lg)
    width 580px
  iframe
    margin -50px -2px -15px
    height calc(100% + 65px)
    width calc(100% + 4px)
    min-height 365px