.event__speakers
  margin 15px 15px 50px
  position relative
  display flex
  justify-content center
  div
    background: pinkColor
    border 1px solid themeColor
    border-radius 5px
    padding 25px