.event__box
  border 1px solid themeColor
  border-radius 5px
  padding 15px
  margin 15px 15px 50px
  position relative
  font-family baseItalicFont
  display flex
  align-items center
  flex-wrap wrap
  img
    width 180px
    height auto
    margin-right 20px
    border-radius 5px
    display none
    @media only screen and (min-width: xs)
      display block
  div
    width 100%
    @media only screen and (min-width: xs)
      width calc(100% - 200px)