footer.site__footer.footer
  .footer__contact.footer__item
    p E-mail: masf.foundation@gmail.com
    p Phone number: 07440  040789
  .footer__copyright.footer__item
    p © Metropolitan Anthony of Sourozh Foundation